.weather {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10pt;
  font-size: 15px;
  font-weight: bold;
  text-align: end;
}

.temperature {
  cursor: pointer;
}

.temperature:hover {
  color: rgb(216, 247, 230);
  transition: color .2s linear;
}